name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      GHAI_TOKEN: ${{ secrets.GHAI_TOKEN }}
      OPEN_WEATHER_API_KEY: ${{ secrets.OPEN_WEATHER_API_KEY }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build, 
          echo test, and deploy your project

      - name: Get Chuck Norris Joke
        uses: Satak/webrequest-action@v1.2.3
        with:
          url: https://api.chucknorris.io/jokes/random
          method: GET
          headers: |
            Accept: application/json
          output: joke